.group1625{
    position: absolute;
    width: 1301px;
    height: 419px;
    left: 320px;
    top: 3901px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(image.png);
    background: #00966D;
    
    &__renctagle226{
        position: relative;
        
        &-img1{
            position: absolute;
            height: 289.756px;
            width: 461.64px;
            border-radius: 0px;
            left: 698.92px;
            top: 58.19px;
            background: url(.png), url(254a4726624551.563580959deee.jpg);
        }
        &-img2{
            position: absolute;
            height: 5.843px;
            width: 558.347px;
            border-radius: 0px;
            right: 92.08px;
            bottom: 54.27px;
        }
        &-img3{
            position: absolute;
            right: 91px;
            bottom: 59.5px;
        }
        &-img4{
            position: absolute;
            left: 696.05px;
            top: 55.27px;
        }
        &-img5{
            position: absolute;
            left: 697.16px;
            top: 56.36px;
        }
        &-img6{
            position: absolute;
            left: 697.16px;
            top: 56.36px;
        }
    }
    
    
    
   
     
}
