.group1618{
    display: flex;
    color: #FFFFFF;
    font-style: normal;
    margin: 120px 0 120px 320px;
    
    &__process{
        width: 460px;
        height: 52px;
        font-family: 'TT Firs Neue';        
        font-weight: 500;
        font-size: 40px;
        line-height: 52px;
        

    }
    &__ul{
        width: 730px;
        height: 524px;
        font-family: 'TT Firs Neue';
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        margin-left: 75px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        &-none{
            list-style: none;
            position: relative;
            left: -30px;
        }
        &-fw400{
            font-weight: 400;
        }
    }

}