.headline2 {
    height: 276px;
    width: 1170px;
    display: flex;
    margin-left: 320px;
    margin-top: 80px;

    &__group1627-first{
        width: 260px;
        margin-right: 70px;
        
        &1{
            width: 46px;
            height: 19px;
            font-family: 'TT Firs Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%; 
            color: #777777;
        }
        &2{
            
            width: 260px;
            height: 31px;
            font-family: 'TT Firs Neue';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 140%;
            margin-top: 10px;
            margin-bottom: 35px;
            color: #FFFFFF;
        }
        &3{
            
            width: 61px;
            height: 19px;
            font-family: 'TT Firs Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #777777;
        }
        &4{
           
            width: 260px;
            height: 62px;
            font-family: 'TT Firs Neue';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 140%;
            margin-top: 10px;
            margin-bottom: 30px;
            color: #FFFFFF;
        }
        &5{
            
            width: 61px;
            height: 19px;
            font-family: 'TT Firs Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            margin-bottom: 10px;
            color: #777777;
        }
        &6{
            
            width: 260px;
            height: 31px;
            font-family: 'TT Firs Neue';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 140%;
            color: #FFFFFF;
        }
       
    } 
    &__group1627-second{
            margin-left: 70px;
            width: 260px;
            &1{
                width: 59px;
                height: 19px;
                font-family: 'TT Firs Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: #777777;

            }
            &2{
                width: 260px;
                height: 31px;
                font-family: 'TT Firs Neue';
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 140%;
                margin-top: 10px;
                margin-bottom: 35px;
                color: #FFFFFF;
            }
            &3{
                width: 105px;
                height: 19px;
                font-family: 'TT Firs Neue';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                margin-bottom: 10px;
                color: #777777;

            }
            &4{                
                width: 260px;
                height: 31px;
                font-family: 'TT Firs Neue';
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                line-height: 140%;
                color: #FFFFFF;
            }
        }

    &__group1627-third{
        width: 400px;
        &1{
            width: 75.22px;
            height: 19px;
            font-family: 'TT Firs Neue';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            margin-bottom: 10px;
            color: #777777;
        }
        &2{
           
            width: 400px;
            height: 186px;
            font-family: 'TT Firs Neue';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 140%;
            color: #FFFFFF;
        }
    }
}