.ramka{
    margin-top: 124px;
    margin-bottom: 120px;
    position: relative;

    &__2{
        margin-left: 86px;
        
        

    }
    &__3{
        margin-left: 85px;
    }

    &__4{
        position: absolute;
        width: 875px;
        height: 538px;
        top: 40px;
        left:  522px;
        border-radius: 40px;
    }

    
 
}